AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
SQS_QUEUE_URL=http://localhost:4566/000000000000/log-ingestion-queue
S3_BUCKET=log-archive
DYNAMODB_TABLE=log-index
DLQ_URL=http://localhost:4566/000000000000/log-dlq
